*{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.app{
    height: 100%;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
}

.topPaddleContainer,
.bottomPaddleContainer{
    position: relative;
    height: 30px;
}

.topPaddle{
    width: 30vw;
    height: 30px;
    background-color: burlywood;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
}

.ball-container{
    flex-grow: 2;
    position: relative;
}

.ball{
    box-shadow: 2px 2px 5px 2px yellow;
    height: 30px;
    width: 30px;
    background: radial-gradient(red, crimson);
    border-radius: 50%;
    position: absolute;
    transition: all 3s ease-in-out;
}

.bottomPaddle{
    width: 30vw;
    background-color: yellowgreen;
    height: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
}
